.navigation-container {
    height:75px;
    width:100%;
    background-color:rgb(12, 0, 65);

    .navigation-item-wrapper {
        height:100%;
        width:100%;
        max-width:2560px;
        margin:0 auto;
        border:1px solid black;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .navigation-logo {
            height:40px;
            width:40px;
            background-color:rgb(14, 59, 0);
        }
    }
}
.nav-link {
    margin-right: 10px;
    color:white;
    text-decoration: none;
}