.navigation-container {
    height:55px;
    width:100%;
    // background-color:var(--dark-shade);
    background-color:rgba(0,0,0,0.7);

    .navigation-items-wrapper {
        height:100%;
        width:100%;
        max-width:2560px;
        margin:0 auto;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .nav-utility-icon-wrapper {
        height:48px;

        .nav-utility-icon {
            fill:white;
            margin-top:5px;
            height:24px;
    
            &:hover {
                fill:#adf5b7;
            }
        }
        &:last-of-type {
            margin-right:10px;
        }
        .nav-home-icon {
            height:0px;
            position: absolute;
        }
    }
    .nav-logout-button {
        fill:white;
        margin: 5px 5px 0px -12px;
        height:24px;

        &:hover {
            fill:rgb(240, 91, 91);
            cursor: pointer;
        }
    }
}
.nav-category-link {
    margin-left:20px;
    text-decoration: none;
    color:white;

    &:hover {
        color:#adf5b7;
    }
}
.pathos-logo {
    transform:rotate(90deg);
    height:120px;
    width:75px;
    margin-bottom:-11px;
    fill:black;
}

@media (max-width:450px) {
    .navigation-container {
        height:45px;

        .pathos-logo {
            height:0;
            width:0;
        }
        .nav-category-link:last-child{
            padding-right:10px;
            border-right:1px solid white;
        }
        .nav-utility-icon {
            margin:5px 5px 0 -10px;
        }
        .nav-home-icon {
            height:24px !important;
            fill:white;
            position: relative !important;
            
            &:hover {
                fill:#adf5b7;
            }
        }
    }
}
