.navigation-container {
    height:75px;
    width:100%;
    background-color:var(--dark-shade);

    .navigation-items-wrapper {
        height:100%;
        width:100%;
        max-width:2560px;
        margin:0 auto;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .nav-utility-icon-wrapper {
        height:48px;

        .nav-utility-icon {
            fill:white;
            margin-right:10px;
            height:24px;
    
            &:hover {
                fill:#1fff1f;
            }
        }
    }
}
.nav-category-link {
    margin-left:20px;
    text-decoration: none;
    color:white;

    &:hover {
        color:#1fff1f;
    }
}
.pathos-logo {
    transform:rotate(90deg);
    height:120px;
    width:75px;
    margin-left:15px;
    fill:orange;
    margin-bottom:-11px;
}

@media (max-width:450px) {
    .pathos-logo {
        height:0;
        width:0;
    }
}