.home-container {
    width:100%;
    height:auto;
    min-height:100vh;
    display:flex;
    flex-direction:column;

    .homepage-title {
        text-align: center;
        margin:100px 0px 75px 0px;
        font-size:40px;
    }

    @media (max-width:1250px) {
        .homepage-sections-container {
            flex-direction: column !important;
            align-items: center !important;

            .homepage-section {
                width:75vw !important;
                min-width:350px !important;
                margin-bottom:25px;
            }
        }
    }
    @media only screen and (max-width:650px) {
        .homepage-title {
            font-size:40px;
        }
    }
    @media only screen and (max-width:400px) {
        .homepage-title {
            margin-top:20px;
        }
    }
}

