.product-preview-container {
    max-width:240px;
    min-width:150px;
    border:1px solid rgb(185, 185, 185);
    position: relative;

    .product-preview-heart-icon {
        position: absolute;
        top:5px;
        right:-3px;
        cursor: pointer;
        transition: 200ms;
        z-index:321;

        &:hover {
            transform:scale(1.1);
        }
        &:active {
            transform:scale(0.75);
        }
    }
    .product-preview-heart-filled-icon {
        position: absolute;
        top:5px;
        right:7px;
        cursor: pointer;
        transition: 200ms;
        z-index:321;
        fill:var(--mid-shade);

        &:hover {
            transform:scale(1.1);
        }
        &:active {
            transform:scale(0.75);
        }
    }

    .product-preview-image-container {
        aspect-ratio: 1/1;
        height:2/3;
        position: relative;

        .product-preview-thumbnail {
            height:100%;
            width:100%;
            transform:scale(0.9);
            object-fit: cover;
            transition: 200ms;
            filter:grayscale(30%);
        }
        .product-preview-trending-banner {
            position: absolute;
            background-color: rgb(235, 34, 253);
            top:7px;
            left:10px;
            text-transform: uppercase;
            font-size: 12px;
            padding:0 5px;
            font-weight:600;
            font-style: italic;
            color:white;
        }
    }
    .product-preview-info-container {
        display:flex;
        flex-direction: column;
        padding:0 5px;
        font-weight:300;
        height:80px;
        position: relative;
        
        .product-preview-title {
            font-weight: 600;
            font-size:16px;
            line-height: 17px;
            border-top:1px solid rgb(185, 185, 185);
            padding-top: 5px;
        }
        .product-preview-category {
            font-size:12px;
            text-transform: uppercase;
            color:gray;
            margin-top:-2px;
        }
        .product-preview-price {
            position: absolute;
            font-size: 20px;
            bottom:0;
            left:5px;
        }
    }
    &:hover {
        cursor:pointer;
        box-shadow:0px 5px 0 0 rgb(0, 0, 0);

        .product-preview-image-container {
            .product-preview-thumbnail {
                transform:scale(1.05);
                filter:grayscale(0%);
            }
        }
    }
}

