.cart-preview-container {
    position: fixed;
    width: 100%;
    height: 40vh;
    z-index: 999;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    pointer-events: none;

    .cart-preview-spacer {
        width: 100%;
        height: calc(40vh - 55px);

        .cart-preview-content-wrapper {
            aspect-ratio: 9/16;
            position: absolute;
            width: 25%;
            max-width: 400px;
            min-width: 250px;
            background-color: var(--dark-shade);
            right: 0;
            pointer-events: all;

            .cart-empty-text {
                text-align: center;
                color: white;
                font-size: 18px;
                font-weight: 200;
                margin-top: 70%;
            }

            .cart-preview-checkout-wrapper {
                width: 100%;
                height: 95px;
                position: absolute;
                bottom: 0px;
                background: linear-gradient(180deg, transparent 0%, black 65%);
                pointer-events: none;

                .cart-checkout-button {
                    position: absolute;
                    bottom: 15px;
                    left: 50%;
                    transform: translateX(-50%);
                    text-decoration: none;
                    color: white;
                    border: 1px solid white;
                    padding: 5px 10px;
                    border-radius: 10px;
                    font-weight: 200;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    transition: 300ms;
                    pointer-events: all;

                    &:hover {
                        border-radius: 0;
                    }
                }
            }
        }
    }

    @media (max-width:450px) {
        .cart-preview-spacer {
            height: calc(40vh - 45px);
        }
    }
}