.product-modal-container {
    height:100vh;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    z-index:999;
    padding:0 5px;

    .product-modal-background {
        height:100%;
        width:100%;
        background-color:rgba(0, 0, 0, 0.95);
        top:0;
        position: fixed;
    }

    .product-modal-content-container {
        max-width:750px;
        height:90vh;
        min-height:400px;
        max-height:450px;
        z-index:1;
        display:flex;
        flex-direction:row;
        position: relative;
        z-index:87392187329189999999999;
        border:1px dotted white;
        padding:15px 0 15px 15px;
        border-radius:10px;
        background-color: rgba(255, 255, 255, 0.05);

        .product-modal-content-blur {
            height:100%;
            width:100%;
            border-radius: 10px;
            position: absolute;
            border:2px solid white;
            top:0;
            left:0;
            filter:blur(10px);
        }
        

        .product-modal-general-item-info {
            height:auto;
            width:45%;
            min-width:300px;
            display:flex;
            flex-direction: column;
            color:white;
            padding:0 10px;
            margin-top:-15px;
            justify-content: space-between;
            border-radius:10px 0 0 10px;

            .product-modal-item-misc {
                display:flex;
                flex-direction: column;

                .product-modal-item-name {
                    font-size:45px;
                    font-weight: 600;
                    letter-spacing: 1px;
                }
                .product-modal-item-brand {
                    font-size:40px;
                    font-weight:100;
                    margin-top:-25px;
                }
                .product-modal-item-category {
                    font-size:14px;
                    text-transform: uppercase;
                    font-weight:200;
                    margin-top:-15px;
                }
            }
        }

        .product-modal-images-container {
            width:80%;
            height:100%;
            position: absolute;
            z-index:1;
            pointer-events: none;

            .product-modal-displayed-image {
                aspect-ratio: 1/1;
                width:100%;
                position:absolute;
                top:8%;
                left:0;
                pointer-events: none;

                .product-modal-active-image {
                    height:90%;
                }
            }
        }
    }
}
@media (max-width:510px) {
    .product-modal-content-container {
        flex-direction: column !important;
        width:90vw !important;
        max-width:390px !important;
        height:75vh !important;
        overflow-x:hidden;
        overflow-y:scroll;
        border:1px solid white !important;
        padding-left:0 !important;
        align-items: center;

        &::-webkit-scrollbar {
            width:0;
        }

        .product-modal-general-item-info {
            height:350px !important;
            position: relative;

            .product-modal-item-misc {
                padding:none;
            }
        }
        .product-modal-displayed-image {
            top:12% !important;
            left:20% !important;
            pointer-events: none;

            .product-modal-active-image {
                height:75% !important;
            }
        }
    }
}


@media (max-width:450px) {
    .product-modal-displayed-image {
        top:20% !important;
        left:20% !important;
        pointer-events: none;
        width:100% !important;
        transform: scale(1.1);
    }
    .product-modal-item-misc {
        margin-left:-12px;
    }
}

@media (max-height:420px){
    .product-modal-content-container {
        height:90vh !important;
        transform:scale(0.9);

    }
}
@media (max-height:375px){
    .product-modal-content-container {
        height:90vh !important;
        transform:scale(0.85);

    }
}