.product-modal-container {
    height:100vh;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    z-index:999;
    padding:0 5px;

    .product-modal-background {
        height:100%;
        width:100%;
        background-color:rgba(0, 0, 0, 0.9);
        top:0;
        position: fixed;
    }

    .product-modal-content-container {
        max-width:750px;
        height:90vh;
        min-height:400px;
        max-height:450px;
        z-index:1;
        display:flex;
        flex-direction:row;
        position: relative;
        background:white;

        .product-modal-general-item-info {
            height:auto;
            width:45%;
            min-width:300px;
            display:flex;
            flex-direction: column;
            color:white;
            padding:0 10px;
            justify-content: space-between;
            background-color:rgb(43, 165, 165) ;

            .product-modal-item-misc {
                display:flex;
                flex-direction: column;

                .product-modal-item-name {
                    font-size:45px;
                    font-weight: 600;
                    letter-spacing: 1px;
                }
                .product-modal-item-brand {
                    font-size:40px;
                    font-weight:100;
                    margin-top:-25px;
                }
                .product-modal-item-category {
                    font-size:14px;
                    text-transform: uppercase;
                    font-weight:200;
                    margin-top:-15px;
                }
            }
        }

        .product-modal-images-container {
            width:55%;
            height:100%;
            position: absolute;
            z-index:1;

            .product-modal-displayed-image {
                aspect-ratio: 1/1;
                width:100%;
                position:absolute;
                top:8%;
                left:0;
                pointer-events: none;

                .product-modal-active-image {
                    height:90%;
                }
            }
        }
    }
    @media (max-width:751px){
        .product-modal-content-container {
            height:75vh;
            max-height:700px;
            min-height:320px;
            width:75vw;
            min-width:320px;
            overflow-y:scroll;
            overflow-x: hidden;
            display:flex;
            flex-direction: column;
            max-width:450px;

            .product-modal-general-item-info {
                height: 90vh;
                max-height:300px;
                width:100%;
                padding:0 10px !important;
            }
            .product-modal-active-image {
                position: absolute !important;
                left:50% !important;
                height:120% !important;
                bottom:0;
            }
        }
    }
    @media (max-height:590px) {
        .product-modal-content-container {
            justify-content: space-between !important;

            .pm-table-container {
                margin-top:35px;
            }
        }
    }
    @media (max-height:540px) {
        .product-modal-content-container {
            justify-content: space-between !important;

            .pm-table-container {
                margin-top:70px;
            }
        }
    }
    @media (max-height:510px) {
        .product-modal-content-container {
            justify-content: space-between !important;

            .pm-table-container {
                margin-top:90px;
            }
        }
    }
    @media (max-height:480px) {
        .product-modal-content-container {
            justify-content: space-between !important;

            .pm-table-container {
                margin-top:113px;
            }
        }
    }
    
}