.store-page-container {
    padding:10px;
    width:100%;
    max-width:2560px;
    margin: 0 auto;
    justify-content: center;
    padding-bottom:55px;
    min-height:95vh;

    .store-page-content-spacer {
        margin:0 auto;

        .sp-filters-spacer {
            display:flex;
            width:100%;
            width:100%;
            max-width:1200px;
            margin: 0 auto;
            margin:155px auto 15px auto;
        }
    
        .store-products-container {
            display:grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            column-gap: 10px;
            row-gap: 25px;
            max-width:1200px;
            margin:0 auto;
        }
    }
    @media (max-width:900px) {
        .store-products-container {
            grid-template-columns: repeat(auto-fit, minmax(175px, 1fr)) !important;
        }
    }
    @media (max-width:585px) {
        .store-products-container {
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)) !important;
        }
    }
    @media (max-width:450px) {
        .store-products-container {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
        }
    }
}