.store-page-container {
    padding:10px;
    width:100%;
    max-width:2560px;
    margin: 0 auto;
    justify-content: center;
    padding-bottom:55px;

    .store-page-content-spacer {
        justify-content: space-between;
        margin:0 auto;
    
        .store-products-container {
            display:grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            column-gap: 10px;
            row-gap: 25px;
            margin:0 auto;
            max-width:1200px;
        }

        .store-page-filter-container {
            position:fixed;
            right:0;
        }
    }
    @media (max-width:450px) {
        .store-products-container {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
        }
    }
}