.product-modal-image-rotation {
    height:18%;
    display:flex;
    margin:0px 0px -10px -15px;
    justify-content: space-around;
    z-index:999;
    // border-top:1px dashed white;

    .product-modal-selection-button {
        height:100%;
        padding:0;
        border:none;
        background:transparent;
        z-index:30921830921831;
        
        .product-modal-selectable-image {
            aspect-ratio: 1/1;
            height:60%;
            object-fit: cover;
            z-index:90983209188;

            &:hover {
                cursor:pointer;
            }
        }
    }
}

@media (max-width:510px) {
    .product-modal-image-rotation {
        border-bottom:1px solid rgba(255, 255, 255, 0.1);
        
    }
}