.product-modal-image-rotation {
    height:15%;
    // width:100%;
    margin:0px 3px 5px 0px;
    display:flex;
    justify-content: space-around;
    z-index:999;

    .product-modal-selection-button {
        height:100%;
        padding:0;
        border:none;
        background:transparent;
        z-index:30921830921831;
        
        .product-modal-selectable-image {
            aspect-ratio: 1/1;
            height:60%;
            object-fit: cover;
            z-index:90983209188;

            &:hover {
                cursor:pointer;
            }
        }
    }
}