.checkout-payments-container {
    margin:45px 0;
    border:1px solid var(--light-shade);
    border-radius:7px;
    padding:15px 10px;
    box-shadow:3px 3px 10px gray;

    .checkout-payments-section {
        margin-bottom:25px;
    }

    .checkout-pay-button {
        line-height:40px;
        margin-top:15px;
        width:33%;
        background:rgb(173, 238, 173);
        outline:none;
        border-radius:10px;
        font-size:16px;
        font-weight:200px;
        transition: 300ms;
        border:none;
        box-shadow:1px 1px 3px green;
        color:rgb(0, 46, 2);
        font-size:20px;

        &:hover {
            cursor:pointer;
            border-radius:0;
        }

        &:active {
            transform:scale(0.9);
        }
    }
}

